html {
  overflow-x: hidden;
}

.content-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;

  &--narrow {
    max-width: 850px;
  }
}

.responsive-pagination {
  .VueCarousel-pagination {
    display: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

.button {
  display: inline-block;
  background: var(--color-dark);
  color: #fff;
  padding: 10px 14px 11px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;

  &--inverted {
    background: #f1786f;
    color: var(--color-dark);
  }
}

.page-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

.icon {
  width: 16px;
  height: 16px;

  &.inverted {
    filter: invert(1);
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

@media screen and (max-width: 787px) {
  .responsive-pagination {
    .VueCarousel-pagination {
      display: block;
    }
    .VueCarousel-navigation {
      display: none;
    }

    .VueCarousel-dot-container {
      margin-top: 0 !important;
    }

    .VueCarousel-dot {
      margin-top: 0 !important;
      padding: 5px !important;
      background-color: #f1786f !important;

      &--active {
        background-color: var(--color-dark) !important;
      }
    }
  }
}
